In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
dependent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
dependent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
independent=dataset[[ 'charges' ]]

In [10]:
independent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30, random_state=0)

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['Friedman_mse','mae','mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid = GridSearchCV( DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
30 fits failed out of a total of 90.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
30 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 356, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'Friedman_mse'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan         nan         nan         nan
 -0.15069475 -0.19060428 -0.15069475 -0.15352749 -0.15069475 -0.13670812
 -0.15069475 -0.18111927 -0.15069475 -0.17391507 -0.15069475 -0.16895781]
  category=UserWarning,
C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['Friedman_mse', 'mae', 'mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
re=grid.cv_results_
grid_prediction = grid.predict(x_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_prediction)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'mae', 'max_features': 'log2', 'splitter': 'random'}: -0.13623576295958378

In [14]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.010252,0.005709,0.000000,0.000000,Friedman_mse,auto,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
1,0.018751,0.006251,0.000000,0.000000,Friedman_mse,auto,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
2,0.015628,0.017119,0.000000,0.000000,Friedman_mse,sqrt,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
3,0.015625,0.009882,0.000000,0.000000,Friedman_mse,sqrt,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
4,0.018772,0.006290,0.000000,0.000000,Friedman_mse,log2,best,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
5,0.015626,0.009882,0.000000,0.000000,Friedman_mse,log2,random,"{'criterion': 'Friedman_mse', 'max_features': ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
6,0.138184,0.024642,0.012542,0.006271,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
7,0.090654,0.014229,0.005527,0.005721,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",-0.115547,-0.195457,-0.284894,-0.174640,-0.182482,-0.190604,0.054532,12
8,0.083059,0.008095,0.004327,0.006111,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
9,0.074358,0.006059,0.004355,0.006119,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",-0.068358,-0.096637,-0.299424,-0.079406,-0.223812,-0.153527,0.091880,8
10,0.082207,0.006725,0.007338,0.009039,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
11,0.072614,0.007561,0.007453,0.007027,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",-0.114641,-0.089469,-0.182179,-0.101553,-0.195700,-0.136708,0.043594,1
12,0.016718,0.006613,0.005368,0.006721,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
13,0.009215,0.005073,0.005121,0.005754,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",-0.162013,-0.181184,-0.217845,-0.118826,-0.225728,-0.181119,0.038947,11
14,0.008528,0.007014,0.008271,0.006283,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
15,0.011840,0.006060,0.004665,0.008835,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",-0.066482,-0.141925,-0.261854,-0.114373,-0.284941,-0.173915,0.085054,10
16,0.012499,0.006250,0.006251,0.007656,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",-0.090404,-0.103098,-0.209496,-0.147302,-0.203174,-0.150695,0.049241,2
17,0.015627,0.000003,0.009374,0.007654,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",-0.132404,-0.088269,-0.212338,-0.178607,-0.233170,-0.168958,0.052811,9

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
Children_input=float(input("Children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:21
BMI:25
Children:2
sex male 0 or 1:1
smoker yes 0 or 1:1

In [16]:
future_prediction=grid.predict([[age_input,bmi_input,Children_input,sex_male_input,smoker_yes_input]])
print("future_prediction={}".format(future_prediction))

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"

ValueError: X has 5 features, but DecisionTreeRegressor is expecting 1 features as input.